* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #022504;
  padding: 10px 20px;
}

.logo_img {
  display: flex;
  width: 80px;
  animation: flipLogo 5s linear infinite; /* Spinning flip effect */
}

.first_name {
  font-size: 30px;
  color: #c4c4c6;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #03310d;
  border-radius: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.nav-links {
  display: none;
  flex-direction: column;
  background-color: #4a4a8c;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  border-radius: 5px;
}

.nav-links li {
  text-align: center;
  margin: 10px 0;
}

.nav-links.show {
  display: flex;
}

.hamburger {
  display: flex;
}

/* Hero Section Styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/Portal//Images/E-learning.png') no-repeat center center/cover;
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.5rem;
}

/* About Section Styling */
section {
  margin: 50px 0;
  text-align: center;
  padding: 20px;
  background-color: #5f5fc7;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Spinning logo animation */
@keyframes flipLogo {
  0% {
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateY(180deg);
  }
  100% {
      transform: rotateY(360deg);
  }
}
